*{
    margin: 0px;
    padding: 0px;
  }
body {
    background-color:#faf9b7;
    background-size: contain;
    height: auto;
}
.parrafos{
    color: #4F772D;
    text-align: center;
    font-family:'Lora', serif;
    font-style:normal;
    font-size: 32px;
    font-weight: 500;
  
}
.titulo{ 
    color: #31572C;
    text-align: center;
    font-family: 'Rouge Script', cursive;
    font-style: normal;
    font-weight: normal;

}
li{
    font-family:'Lora', serif;
    list-style: none;
}
ul{
  padding: 0rem;
  margin: 0rem;
}


/**menu*/
header{
  grid-area: nav;
  height: fit-content;
}
.menu{
  border-bottom: 1px  rgba(27, 32, 26, 0.979) solid;
  width: 100%;
  background-color: #90A955;

}
.menu > ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;

}
.menu > ul > li > a {
  color: #eef788;
  text-decoration: none;
}
.menu > ul > li > a:hover{
  color: #212529;
}
header > nav{
  width: 100%;
}
#olivArte{
  grid-area: logo;
  background-color: #90A955;
  border-bottom: 1px solid rgba(27, 32, 26, 0.979);
  font-weight: thin;
  display: flex;
  flex-direction: row;
  align-content: center;
  padding-left: 2px;
}
#olivArte > a{
  color: #eef788;
  font-family: 'Rouge Script', cursive;;
  text-decoration: none;
  align-self: center;
}
/**fin de menu*/


/*!galería*/
.galeria{
  grid-area: media;
  align-items: center;
  display:flex ;
  flex-direction: row;
  justify-content: space-between;
}
.galeria__div{
  width:80% ;
  height: 100%;
}
.galeria__img{
  width: 100%;
  height: auto;
}
.galeria__img:hover{
  transform: scale(105%);
}

/**fin de la galería*/


/*!footer*/
.divFoot{
  grid-area: footer;
  height:fit-content;
  align-self: end;
  background-color: #90A955;
}
.redesSociales{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px rgba(27, 32, 26, 0.979)solid;
}
.redesSociales .icono{
  text-decoration: none;
  color: #eef788;
  border-radius: 2px;
  text-align: center;
}
.icono:hover {
  color: #212529;
}
.redesSociales > p{
  color: #eef788;
  font-family:'Lora', serif;
  margin: 0rem;
}
/**Fin del footer*/


/*!producto/faqs*/
.aceitunasRellenas{
  align-self: flex-start;
  grid-area: producto1;
  justify-self: center;
}
.quesos{
  align-self: flex-start;
  grid-area: producto2;
  justify-self: center;
}
#carrusel{
  grid-area: carrusel;
  justify-self: center;
  align-self: center;
}
#carrusel::after{
  width: fit-content;
  height: auto;
}
.carousel-inner{
  height: 80vh;
  }
/**fin producto*/


/*!form*/
.form-control:focus {
  border-color: #93a862;
  box-shadow: 0 0 0 0.25rem rgb(20 99 10/ 30%);
}
.btn-primary  {
  background-color: #4F772D;
  border: #4F772D;
}
.btn{
  margin-bottom: 5px;
}
.btn-primary:hover {
 
  background-color: #212529;
  border-color: #212529;
}
/**fin del form*/


/*!Quienes Somos*/
#quienSomos{
  grid-area: titu;
}
#historia{
  grid-area: parrafos;
  justify-self: center;
  align-self: flex-start;
  margin-left: 10px;
}
#historia > p {
  margin-bottom: 0px;
}


/*!galeria*/

#media1{
  justify-self: center;
  align-self: flex-start;
}
#media1 > img{
  width: 100%;
  height: auto;
}
#media2{
  justify-self: center;
  align-self: flex-end;
}
#media2 > img{
  width: 100%;
  height: auto;
}
#media1 > img:hover{
transform: scale(110%);
transition: 0.5s;
}
#media2 > img:hover{
transform: scale(110%);
transition: 0.5s;
}
/**fin galeria*/
/**fin quienes somos*/


/*!Medias queries*/
/**dispositivos XS*/
@media only screen and (max-width:600px){
  
  #grilla1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 12fr 0.2fr;
    grid-template-areas: "logo nav"
                        "titu titu"
                        "parrafos parrafos"
                        "media media"
                        "footer footer";
  
  }

  #titulo{
	  align-self: center;
    margin: none; 
	  grid-area: titu;
    height: 65px;
    
  } 
  .titulo{
    font-size: 64px;
  }
  #titulo > h1{
    margin: 0;
    height: 100%;
  }
  #parrafo{
  grid-area: parrafos;
  height: fit-content;
  } 
  #parrafo > p{
    margin: 0;
  }
  .parrafos{
    font-size: 20px;
  }


/*menu*/
.menu {
  font-size: 12px;
  height: fit-content;
}
.menu > ul  {
  flex-direction: column;
  align-items: flex-end;

}
.menu > ul > li{
  list-style: none;
  height: fit-content;
}
.menu > ul > li > a {
  margin: 0px 5px;
}
#olivArte{  
  font-size: 40px;
  height: 90px;
}
/*fin del menu*/
  /*galeria*/
  .galeria{
    grid-area: media;
    display:flex ;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    width: 100%;
  }
  .galeria__div{
    width: 80%;
    
    height: fit-content;
  }
  .galeria__img{
    width: 100%;

    
  }
  
/*fin de la galería*/

 /*footer*/
.redesSociales {
  margin-left: 2px;
  height: 30px;
  font-size: 15px;
}
.redesSociales .icono{
  width: 18px;
  height: 18px;
  box-shadow: 0 0 2.5px 4px rgba(0,0,0,0.09);
  margin: 0 5px;
  line-height: 18px;
  font-size: 18px;
}

.redesSociales > p{
  font-size: 18px;
  
  margin-right: 5px;
}
/*Fin del footer*/

/*productos /faqs*/
.grilla2{
  display: grid;
  grid-template-columns:  1fr 1fr 2fr;
  grid-template-rows: 0.5fr 2fr 2fr 3fr 0.5fr;
  grid-template-areas: "logo nav nav"
                        "producto1 producto1 producto1" 
                        "producto2 producto2 producto2"
                        "carrusel carrusel carrusel"
                        "footer footer footer";

  width: 100%;
  height: auto;
}
#carrusel{
  width: 400px;
}


/*contacto*/
#grilla3{
  display: grid;
  grid-template-columns:  1fr 1fr 2fr;
  grid-template-rows: 1fr 600px 1fr;
  grid-template-areas: "logo nav nav"
                        "form form form" 
                        "footer footer footer";

  width: 100%;
  height: auto;

}
form{
  grid-area: form;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.formInput{
  margin-bottom: 2px;
}


/*Quienes somos*/
#grilla4{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5fr 5fr 10fr 15fr 15fr 1fr;
  grid-template-areas: "logo nav"
                      "titu titu"
                      "parrafos parrafos"
                      "media1 media1"
                      "media2 media2"
                      "footer footer";
              
}
#historia > p{
  font-size: 18px;
  line-height: 20px;
  align-self: center;
  grid-area: parrafos;
}
   /*galeria*/
   #media1{
     grid-area: media1;
    width: 90%;
    height: fit-content;
}
 #media2{
   grid-area: media2;
    width: 90%;
    height: fit-content;
    align-self: center;
}
/* fin galeria*/
}

/**dispositivos S*/
@media only screen and (min-width:600px ){
   #grilla1{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2.5fr 3.33fr 34fr 1fr;
    grid-template-areas: "logo nav"
                        "titu titu"
                        "parrafos parrafos"
                        "media media"
                        "footer footer";
                
  } 
  #titulo{
    grid-area: titu;
    height: fit-content;
    justify-content: center;
  }
 #titulo .titulo{
    font-size: 64px;
 }
 #parrafo{
   grid-area: parrafos;
 }
 #parrafo .parrafos{
    font-size: 32px;
  }



 /*menu*/
.menu {
  font-size: 15px;
  height: 30px;
}
.menu > ul  {
  flex-direction: row;
  align-items: center;
}
.menu > ul > li > a {
  margin: 0px 5px;
}
#olivArte{  
  font-size: 30px;
  height: 30px;
}
/*fin de menu*/

  /*galeria*/
  .galeria{
    grid-area: media;
    display:flex ;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    width: 100%;
  }
  .galeria__div{
    width: 70%;
    height: fit-content;
  }
  .galeria__img{
    width: 100%;
    height: 100%;
  }
/*fin de galería*/

 /*footer*/

.redesSociales {
  margin-left: 2px;
  height: 30px;
  font-size: 15px;
}
.redesSociales .icono{
  width: 20px;
  height: 20px;
  border-radius: 2em;
  box-shadow: 0 0 2.5px 4px rgba(0,0,0,0.09);
  margin: 0 5px;
  line-height: 20px;
  font-size: 20px;
}
.redesSociales > p{
  font-size: 18px;

  margin-right: 5px;
}
/*Fin del footer*/


/*productos*/
.grilla2{
  display: grid;
  grid-template-columns:  1fr 1fr 2fr;
  grid-template-rows: 1fr 3fr 3fr 4fr 1fr;
  grid-template-areas: "logo nav nav"
                        "producto1 producto1 producto1" 
                        "producto2 producto2 producto2"
                        "carrusel carrusel carrusel"
                        "footer footer footer";

  width: 100%;
  height: auto;
}
#carrusel{
 width: 500px;
}
/*contacto*/
#grilla3{
  display: grid;
  grid-template-columns:  1fr 1fr 2fr;
  grid-template-rows: 1fr 600px 1fr;
  grid-template-areas: "logo nav nav"
                        "form form form" 
                        "footer footer footer";

  width: 100%;
  height: auto;

}
form{
  grid-area: form;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.formInput{
  margin-bottom: 2px;
}

/*Quienes somos*/
#grilla4{
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  grid-template-rows: 1fr 2fr 5fr 16fr 16fr 1fr;
  grid-template-areas: "logo nav nav"
                        "titu titu titu" 
                        "parrafos parrafos parrafos"
                        "media1 media1 media1"
                        "media2 media2 media2"
                        "footer footer footer";
                
}
#quienSomos{
  grid-area: titu;
  height: fit-content;
}
#quienSomos  > h1{
  font-size: 64px;

}
#historia{
  align-self: center;

}
#historia > p{
  font-size: 20px;
  line-height: 20px;
}
  /*galeria*/
  #media1{
    grid-area: media1;
    width: 70%;
    height: 70%;
    align-self: center;
  }

  #media2{
    grid-area: media2;
    width: 70%;
    height: 70%;
    align-self: center;
  }
  /* fin galeria*/
}

/**dispositivos M*/
@media only screen and (min-width:768px ){
   #grilla1{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    grid-template-rows: 1fr 2fr 2fr 35fr 1fr;
    grid-template-areas: "logo nav nav nav"
                        "titu titu titu titu"
                        "parrafos parrafos parrafos parrafos"
                        "media media media media"
                        "footer footer footer footer";
  
  
  } 
  #titulo{
    grid-area: titu;
  }
 #titulo .titulo{
    font-size: 70px;
}
#parrafo{
  grid-area: parrafos;
}
#parrafo .parrafos{
    font-size: 32px;
    
}

  /*menu*/
  .menu {
    font-size: 15px;
    height: 34px;
  }
  .menu > ul  {
    flex-direction: row;
    align-items: center;
  }

  .menu > ul > li > a {
    margin: 0px 10px;
  }

  #olivArte{  
    font-size: 35px;
    height: 34px;
  }
  /*fin de menu*/

  /*galeria*/
  .galeria{
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    width: 100%;
  }
  .galeria__div{
    width: 70%;
    height: fit-content;
  }
  .galeria__img{
    width: 100%;
    height: auto;
  }
/*fin de la galría*/

  /*footer*/
  .redesSociales {
    margin-left: 2px;
    height: 30px;
    font-size: 20px;
  }
  .redesSociales .icono{
    width: 30px;
    height: 30px;
    box-shadow: 0 0 5px 10px rgba(0,0,0,0.09);
    margin: 0 10px;
    line-height: 30px;
    font-size: 20px;
  }
  a:after {
    width: 30px;
    height: 30px;
    bottom: -30px;
  }
  .redesSociales > p{
    font-size: 20px;
    
    margin-right: 10px;
  }
  /*Fin del footer*/
  
/*productos*/
  .grilla2{
    display: grid;
    grid-template-columns:  1fr 1fr 2fr;
    grid-template-rows: 0.5fr 2fr 2fr 3fr 0.5fr;
    grid-template-areas: "logo nav nav"
                          "producto1 producto1 producto1" 
                          "producto2 producto2 producto2"
                          "carrusel carrusel carrusel"
                          "footer footer footer";
  
    width: 100%;
    height: auto;
  }
  #carrusel{
    width: 550px;
  }

 /*contacto*/
  #grilla3{
    display: grid;
    grid-template-columns:  1fr 1fr 2fr;
    grid-template-rows: 1fr 600px 1fr;
    grid-template-areas: "logo nav nav"
                          "form form form" 
                          "footer footer footer";
  
    width: 100%;
    height: auto;

  }
  form{
    grid-area: form;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .formInput{
    margin-bottom: 2px;
  }

  /*Quienes somos*/

  #grilla4{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr;
    grid-template-rows: 40px 100px 800px 40px;
    grid-template-areas: "logo nav nav nav"
                          "titu titu titu titu" 
                          "parrafos parrafos media media"
                          "footer footer footer footer";              
  }
  #historia > p{
    font-size: 30px;
    line-height: 30px;
  }
  /*galeria*/
    #media1{
      grid-area: media;
      width: 70%;
      height: fit-content;
    }

  #media2{
    grid-area: media;
    width: 70%;
    margin-bottom: 50px;
    height: fit-content;
    margin-top: 20px;
  }
    /* fin galeria*/
}

/**dispositivos L*/
@media only screen and (min-width:1024px){ 
    #grilla1{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    grid-template-rows: 1fr 2fr 2fr 8fr 1fr;
    grid-template-areas: "logo nav nav nav"
                        "titu titu titu titu"
                        "parrafos parrafos parrafos parrafos"
                        " media media media media"
                        "footer footer footer footer";
  
  
  }
  #titulo{
    grid-area: titu;
  }

  .titulo{
    font-size: 94px;
  }
  #parrafo{
    grid-area: parrafos;
  }
  
  /*menu*/
  .menu {
    font-size: 20px;
    height: 40px;
  }
  .menu > ul  {
    flex-direction: row;
    align-items: center;
  }
  .menu > ul > li > a {
    margin: 0px 10px;
  }
  #olivArte{  
    font-size: 40px;
    height: 40px;
    justify-content: flex-start; 
  }
  /*fin de menu*/

  
/*galeria*/
.galeria{
  grid-area: media;
  display:flex ;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  width: 100%;
}
.galeria__div{
  width: 320px;
  height: fit-content;
}
.galeria__img{
  width: 100%;
  height: auto;
}
/*fin de la galería*/

  /*footer*/
  .redesSociales {
    margin-left: 2px;
    height: 40px;
    font-size: 20px;
  }
  .redesSociales .icono{
    margin-left: 2px;
    height: 40px;
    font-size: 20px;
  }
  a:after {
    width: 30px;
    height: 30px;
    bottom: -30px;
  }
  .redesSociales > p{
    font-size: 20px;
    margin-right: 10px;
    border-radius: 0%;
  }
  /*Fin del footer*/





/*Estilo productos*/

  .grilla2{
    display: grid;
    grid-template-columns:  1fr 1fr 2fr;
    grid-template-rows: 0.5fr 1fr 1fr 3fr 0.5fr;
    grid-template-areas: "logo nav nav"
                          "producto1 producto1 producto1" 
                          "producto2 producto2 producto2"
                          "carrusel carrusel carrusel"
                          "footer footer footer";
  
    width: 100%;
    height: auto;
  }
  #carrusel{
    width: 700px;
  }
  .carousel-inner{
    height: 120vh;
  }


/*estilo contacto*/
  #grilla3{
    display: grid;
    grid-template-columns:  1fr 1fr 2fr;
    grid-template-rows: 1fr 600px 1fr;
    grid-template-areas: "logo nav nav"
                          "form form form" 
                          "footer footer footer";
  
    width: 100%;
    height: auto;

  }
  form{
    grid-area: form;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .formInput{
    margin-bottom: 2px;
  }
  
  /*Quienes somos*/
  
  #grilla4{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 2fr;
    grid-template-rows: 50px 200px 1000px 50px;
    grid-template-areas: "logo nav nav nav"
                          "titu titu titu titu" 
                          "parrafos parrafos media media"
                          "footer footer footer footer";                   
  }
#historia > p{
  font-size: 30px;
  line-height: 40px;
}
/*galeria*/
#media1{
  grid-area: media;
    width: 60%;
    height: fit-content;
    justify-self: center;
}
#media2 {
  grid-area: media;
    width: 60%;
    height: fit-content;
    justify-self: center;
}
#media2 > img{
  margin-bottom: 90px;
}
/* fin galeria*/
}





